body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #6b4226;
    color: white;
    padding: 20px;
}


.background{
    display: block;
    margin: 20px auto; /* Center the image */
    width: 60%; /* Adjust size */
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}
.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 10px 0;
}

/* Nav Layout */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
    .header-top {
        flex-direction: column;
    }

    .logo {
        margin: 0 0 10px 0;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

section {
    padding: 20px;
}

.menu-item {
    background: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 250px;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: #6b4226;
}

.btn {
    background: #6b4226;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    
    position: fixed;
    bottom: 0;  
    width: 100%;
}